<ion-pane>
      <ion-header-bar class="bar bar-header bar-energized">
            <button class="button icon ion-navicon-round "></button>
            <h1 class="title">Welcome</h1>
            <button class="button button-icon icon ion-log-out" onclick="window.location.href='index.html'"></button>
      </ion-header-bar>
      <ion-content>
            <div class="list">
                  <a class="item item-thumbnail-left" href="#">
                        <img src="cover.jpg">
                        <h2>Place 1</h2>
                        <p>address</p>
                        <p> ratings </p>
                        <p>directions</p>
                  </a>
            </div>

      </ion-content>
      <ion-footer-bar>
            <div class="bar bar-footer">
                  <button class="button button-icon icon ion-plus-circled pull-right" 
                  ng-click="plan()">PLAN</button>
            </div>
      </ion-footer-bar>
</ion-pane>